<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>

<h1>This is the profile page</h1>
<h1 data-th-text="${loggedInUser.getName()}"></h1>
<h1 data-th-text="${loggedInUser.getEmail()}"></h1>

<h1 data-th-if="${loggedInUser}"> The user is Logged IN</h1>

</body>
</html>