<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>

</head>
<body>
<div id="content">
    <h1>Welcome to the Contact Page</h1>
    <p>
        Contact Vault helps in saving your contacts and is built on a robust backend.
    </p>
</div>
<script>
    console.log("Contact us page");
</script>
<script>
    console.log("second contact page script");
</script>
</body>
</html>


